
html {
	--accent-color: rgb(29 115 255);
	--bg-grad-top: rgb(99, 99, 99);
	--bg-grad-bottom: rgb(190, 190, 190);
	user-select: none;
	font-family: "Rubik", sans-serif;
}

body {
	background: rgb(16 16 16);
	color: white;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background: transparent;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: rgb(124 124 124 / 25%);
	border: 2px solid rgb(124 124 124 / 0%);
	border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
	background: rgb(124 124 124 / 25%);
	border-color: rgb(124 124 124 / 50%);
}

@font-face {
	font-family: 'Material Symbols Rounded';
	font-style: normal;
	font-weight: 100 700;
	src: url(icon.woff2) format('woff2');
}
  
.material-symbols-rounded {
	font-family: 'Material Symbols Rounded';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
}
  

* {
	margin: unset;
	padding: unset;
	box-sizing: border-box;
}
*.accent-color-bright {
	color: var(--accent-color);
	filter: brightness(1.5);
}

img[src=""] {
	opacity: 0;
	image-rendering: auto;
}
img {
	pointer-events: none;
}

h1.heavy-heading {
	font-family: Rubik;
	font-weight: 800;
	font-style: italic;
	font-size: 36px;
	letter-spacing: 2px;
}

/* Custom element */
un {
	text-decoration: underline;
}

ul {
	display: flex;
	flex-direction: column;
	li {
		margin-left: 32px;
	}
}

a {
	position: relative;
	color: rgb(255 255 255 / 50%);
}
a:hover {
	color: white;
}
a:visited {
	color: var(--accent-color)!important;
}
a::after {
	position: absolute;
	left: 100%;
	margin-left: 4px;
	font-family: 'Material Symbols Rounded';
	font-size: 14px;
	content: 'north_east';
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 48;
	color: white;
}

.material-symbols-rounded {
	font-variation-settings:
	'FILL' 0,
	'wght' 400,
	'GRAD' 0,
	'opsz' 48;
}
.mat4 {
	font-variation-settings:
	'FILL' 0,
	'wght' 600,
	'GRAD' 0,
	'opsz' 48;
}
.fill {
	font-variation-settings:
	'FILL' 1,
	'wght' 600,
	'GRAD' 0,
	'opsz' 48;
}
accentcolor {
	background: var(--accent-color);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
}
.wrapper .header-menu {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	padding: 2em;
	padding-top: 9em;
	display: flex;
	flex-direction: column;
	visibility: collapse;
	gap: 0.5em;
	background: rgb(24 24 24 / 75%);
	backdrop-filter: blur(10px);
	z-index: 9;
}
.wrapper .header-menu button {
	background: rgb(24 24 24 / 50%);
	border-color: rgb(64 64 64);
}
.wrapper .header-menu button:hover {
	background: transparent;
	border-color: rgb(127 127 127);
}
.wrapper .header {
	font-family: "Noto Sans", sans-serif;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 99;
	z-index: 10;
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 2em 3em;
	transition: 0.3s ease;
}
.wrapper .header::before {
	content: "";
	position: absolute;
	top: 0px;
	left: calc(-100% - 4em);
	width: 100%;
	height: 108px;
	background: rgb(24 24 24);
	color: black;
	/*box-shadow: inset 0px -64px 64px -64px var(--accent-color);*/
	transition: left 0.3s ease-out;
	z-index: -1;
}
.wrapper .header.filled {
	padding: 1em 2em;
}
.wrapper .header.filled::before {
	left: 0%;
}
.wrapper .header .drop-menu {
	position: relative;
}
.wrapper .header .drop-menu-container {
	position: absolute;
	right: 0px;
	top: 100%;
	display: flex;
	flex-direction: column;
	gap: 1em;
	min-width: 320px;
	background: rgb(24 24 24 / 75%);
	backdrop-filter: blur(20px);
	border: 1px solid rgb(64 64 64);
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0px 4px 8px rgb(0 0 0 / 25%);
	padding: 1em;
	opacity: 0.0;
	pointer-events: none;
}
.wrapper .header .drop-menu-container .footer {
	background: rgb(32 32 32 / 50%);
	margin: -1em;
	margin-top: 0em;
	border-top: 1px solid rgb(64 64 64);
	padding: 0.5em;
	display: flex;
	flex-direction: row;
	gap: 1em;
}
.wrapper .header .drop-menu-container button {
	background: rgb(24 24 24 / 50%);
	border-color: rgb(64 64 64);
	padding: 1em;
}
.wrapper .header .drop-menu-container button.no-stroke {
	background: transparent;
	border: unset;
	padding: 1em;
}
.wrapper .header .drop-menu-container button .dmc-btn-container {
	width: 100%;
	display: grid;
	gap: 4px;
}
.wrapper .header .drop-menu-container button .dmc-btn-container h1 {
	font-size: 14px;
	display: flex;
	align-items: center;
	gap: 4px;
}
.wrapper .header .drop-menu-container button .dmc-btn-container p {
	font-size: 12px;
	display: flex;
	align-items: center;
	text-align: left;
	font-weight: 400;
	gap: 4px;
}
.wrapper .header .drop-menu-container button .dmc-btn-container .material-symbols-rounded {
	transition: margin 0.3s ease;
}
.wrapper .header .drop-menu-container button:hover {
	background: transparent;
	border-color: rgb(127 127 127);
}
.wrapper .header .drop-menu-container button:hover h1 {
	color: var(--accent-color);
	filter: brightness(1.5);
}
.wrapper .header .drop-menu-container button:hover .dmc-btn-container .material-symbols-rounded {
	margin-left: 4px;
}
.wrapper .header .drop-menu-container .footer button {
	background: transparent;
	padding: 1em;
}



.wrapper .content {
	padding: 0em 1em;
}
.wrapper .content .hero {
	position: relative;
	background: linear-gradient(180deg, var(--bg-grad-top) 0%, var(--bg-grad-bottom) 100%);
	height: 100vh;
	width: calc(100% + 2em);
	margin: 0em -1em;
	overflow: hidden;
}
.wrapper .content .hero #blend {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 50%;
	background: linear-gradient(0deg, rgb(16 16 16) 0%, transparent 100%);
	z-index: 5;
}
.wrapper .content .hero .hero-text {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto 0px;
	height: fit-content;
	padding: 10vw;
	font-size: 10vw;
	line-height: 100%;
	filter: drop-shadow(0px 4px 12px rgb(0 0 0 / 25%));
}

button {
	background: rgb(24 24 24);
	border: 1px solid rgb(64 64 64);
	color: white;
	border-radius: 4px;
	outline: unset;
	font-weight: 600;
	font-family: "Noto Sans", sans-serif;
	font-size: 18px;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	gap: 4px;
	padding: 8px 12px;
}
button:hover {
	background: rgb(32 32 32);
}
button:disabled {
	background: rgb(16 16 16);
	border-color: rgb(32 32 32);
	color: rgb(127 127 127);
}
button.transparent {
	background: transparent;
	border-color: transparent;
	text-shadow: 0px 4px 8px rgb(0 0 0 / 25%);
}
button.transparent:hover {
	background: white;
	color: var(--accent-color);
	text-shadow: 0px 4px 8px transparent;
}
button.square {
	aspect-ratio: 1 / 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
button.circle {
	border-radius: 50%;
	aspect-ratio: 1 / 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
button.hyperlink {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 32px;
}
button.hyperlink::after {
	content: '';
	position: absolute;
	top: calc(100% - 4px);
	left: 0px;
	right: 0px;
	width: 16px;
	height: 2px;
	margin: 0px auto;
	background: white;
	border-radius: 1px;
	transition: 0.1s;
	opacity: 0.0;
	pointer-events: none;
}
button.hyperlink:hover {
	background: transparent;
	color: white;
}
button.hyperlink:hover::after {
	opacity: 1.0;
	width: 100%;
}

button.semi-opaque {
	background: rgb(24 24 24 / 50%);
}
button.semi-opaque:hover {
	background: rgb(32 32 32 / 50%);
}
button.semi-opaque:disabled {
	background: rgb(16 16 16 / 50%);
}

.loadingscr {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background: rgb(16 16 16);
	z-index: 100;
	transition: opacity 1s;
}
.loadingscr.hide {
	opacity: 0.0;
	pointer-events: none;
}

.main-content {
	display: flex;
	flex-direction: column;
	gap: 2em;
	max-width: 1024px;
	padding: 8em 0em;
	margin: 0em auto;
}
.main-content .section {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.list-fancy {
	display: flex;
	flex-direction: column;
	gap: 1em;
	margin: 0em 1em;
}
.list-fancy .list-item {
	display: grid;
	grid-template-columns: min-content auto;
	column-gap: 2em;
	row-gap: 1em;
	padding: 1em;
	border: 1px solid rgb(24 24 24);
	border-radius: 12px;
}
.list-fancy .list-item button {
	font-size: 14px;
}
.list-fancy .list-item .lside {
	grid-column: 1;
	display: flex;
	flex-direction: column;
	gap: 1em;
}
.list-fancy .list-item .lside .thumb {
	aspect-ratio: 1 / 1;
	width: 240px;
	object-fit: cover;
	border-radius: 4px;
}
.list-fancy .list-item .data {
	grid-column: 2;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}
.list-fancy .list-item .data .title {
	font-weight: 400;
	text-align: left;
	display: flex;
	align-items: center;
	gap: 8px;
}
.list-fancy .list-item .data .status {
	background: rgb(24 24 24);
	border: 1px solid rgb(64 64 64);
	padding: 4px 8px;
	border-radius: 4px;
	font-size: 14px;
	width: fit-content;
}
.list-fancy .list-item .data .credits {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5em;
}
.list-fancy .list-item .data .credits::before {
	content: "Credits: ";
}
.list-fancy .list-item .data .credits span {
	background: rgb(24 24 24);
	border: 1px solid rgb(64 64 64);
	padding: 4px 8px;
	border-radius: 4px;
	font-size: 14px;
}
.list-fancy .list-item .data .note::before {
	content: "Note: ";
}


.card-group {
	padding: 1em;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	overflow-x: auto;

	.container {
		display: flex;
		flex-direction: row;
		width: fit-content;
		gap: 1em;

		.card {
			position: relative;
			aspect-ratio: 4 / 3;
			height: 240px;
			background: rgb(24 24 24);
			border: 1px solid rgb(64 64 64);
			border-radius: 12px;
			overflow: hidden;
			box-shadow: 0px 4px 12px 0px rgb(0 0 0 / 25%);
	
			.thumb {
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
				object-fit: cover;
				z-index: 1;
			}
	
			.content {
				position: absolute;
				bottom: 0px;
				left: 0px;
				width: 100%;
				z-index: 2;
				display: grid;
				grid-template-columns: auto min-content;
				align-items: end;
				padding: 1em;
				background: linear-gradient(0deg, rgb(0 0 0 / 50%) 0%, transparent 100%);
				
				.texts {
					position: relative;
					overflow: hidden;

					h1 {
						display: block;
						font-size: 14px;
						overflow: hidden;
						text-overflow: ellipsis;
						text-wrap: nowrap;
						padding-right: 0.5em;
						max-width: 100%;
					}

					p {
						display: block;
						font-size: 12px;
						overflow: hidden;
						text-overflow: ellipsis;
						text-wrap: nowrap;
						padding-right: 0.5em;
						max-width: 100%;
					}
				}
			}
		}
	}
}


.button-group {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.button-group button.aspect-free {
	aspect-ratio: unset;
}
.button-group button {
	flex: 1;
	z-index: 2;
}
.button-group button:not(:last-child) {
	border-radius: 0px;
	margin-left: -1px;
}
.button-group button:first-child {
	border-radius: 4px 0px 0px 4px;
}
.button-group button:last-child {
	border-radius: 0px 4px 4px 0px;
	margin-left: -1px;
}
.button-group button:disabled {
	z-index: 1;
}

.page-toggle {
	pointer-events: none;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	.on {
		display: none;
	}
	.off {
		display: inline-block;
	}
	input[type="checkbox"] {
		appearance: none;
	}

	ul {
		li {
			margin-left: 1em;
		}
	}
}
.page-toggle .button {
	pointer-events: all;
	z-index: 2;
	display: flex;
	flex-direction: row;
	background: rgb(24 16 16);
	border: 1px solid rgb(64 24 24);
	border-bottom: transparent;
	border-radius: 4px 4px 0px 0px;
	margin-bottom: -1px;
	font-size: 14px;
	cursor: pointer;
	padding: 6px 12px;
}
.page-toggle .button:hover {
	background: rgb(32 24 24);
}
.page-toggle input[type="checkbox"]:checked {
	~ .button {
		display: inline-block!important;
		background: rgb(16 24 16);
		border: 1px solid rgb(24 64 24);
		border-bottom: transparent;
	}
	~ .button:hover {
		background: rgb(24 32 24);
	}

	~ .button .on {
		display: inline-block!important;
	}
	~ .on {
		display: inline-block!important;
		background: rgb(16 24 16);
		border: 1px solid rgb(24 64 24);
	}

	~ .button .off {
		display: none!important;
	}
	~ .off {
		display: none!important;
		background: rgb(24 16 16);
		border: 1px solid rgb(64 24 24);
	}
}
.page-toggle .tab-content {
	pointer-events: none;
	width: 100%;
	background: rgb(24 16 16);
	border: 1px solid rgb(64 24 24);
	border-radius: 0px 4px 4px 4px;
	padding: 1em;
}

.labeled-group {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	.label {
		z-index: 2;
		display: flex;
		flex-direction: row;
		background: rgb(24 24 24);
		border: 1px solid rgb(64 64 64);
		border-bottom: transparent;
		border-radius: 4px 4px 0px 0px;
		margin-bottom: -1px;
		font-size: 14px;
		padding: 6px 12px;
	}

	.content {
		width: 100%;
		background: rgb(24 24 24);
		border: 1px solid rgb(64 64 64);
		border-radius: 0px 4px 4px 4px;
		padding: 1em;
	}

	ul {
		li {
			margin-left: 1em;
		}
	}
}

.image-slideshow {
	position: relative;
	background: rgb(16 16 16);
	border: 1px solid rgb(64 64 64);
	border-radius: 8px;
	overflow: hidden;

	.images {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;

		img {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.ui-controls {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;

		.nav-arrow {
			height: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 0.5em;

			button {
				aspect-ratio: 1 / 1;
				background: rgb(24 24 24 / 50%);
				border: 1px solid transparent;
				border-radius: 50%;
				padding: 0.5em;
				opacity: 0;
				transition: 0.05s linear;
			}

			button:hover {
				background: rgb(24 24 24);
				border: 1px solid rgb(64 64 64);
			}
		}

		:hover button {
			opacity: 1;
		}
	}
}

.image-grid {
	display: flex;
	gap: 0.5em;
	padding: 0.5em;
	flex-wrap: wrap;
}
.image-grid .col {
	position: relative;
	flex: 0%;
}
.image-grid .col .badge {
	position: absolute;
	right: 0px;
	top: 2em;
	border-radius: 4px 0px 0px 4px;
	background: rgb(16 16 16);
	color: white;
	padding: 4px 8px;
	font-weight: 600;
}
.image-grid .col.button-action {
	cursor: pointer;
}
.image-grid .col .main {
	position: relative;
	transition: 0.1s ease;
	border-radius: 4px;
}
.image-grid .col .glow {
	transition: 0.1s ease;
	border-radius: 4px;
}
.image-grid .col.button-action:hover .main {
	outline: 2px solid white;
	transform: scale(1.05);
	z-index: 9;
	filter: unset;
}
.image-grid .col.button-action:hover .glow {
	opacity: 0.75;
}
.image-grid img {
	vertical-align: middle;
	width: 100%;
	border-radius: 4px;
}

.fullscreen-menu-button {
	display: none!important;
}

@media (max-width: 800px) {
	.image-grid .col {
		flex: 45%;
	}
	#top_nav_btns {
		visibility: collapse;
	}
	.fullscreen-menu-button {
		display: flex!important;
	}
	.header-menu {
		visibility: visible!important;
	}
	
	.list-fancy .list-item {
		grid-template-columns: 100%;
		align-items: center;
	}
	.list-fancy .list-item .data {
		grid-column: 1;
	}
	.list-fancy .list-item .lside .thumb {
		width: 100%;
		max-height: 320px;
	}
}